<template>
  <div class="container">
    <h1>{{ msg }}</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Gen</th>
          <th scope="col">Diplotyp</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in qrData" :key="index">
          <td>{{ index }}</td>
          <td>{{ item.Hap1 }}/{{ item.Hap2 }}</td>
        </tr>
      </tbody>
    </table>
    <b-button v-on:click="$emit('resetQRCode')">Neuen Code Scannen</b-button>
  </div>
</template>

<script>
export default {
  name: 'Report',
  props: {
    msg: String,
    qrData: Object
  },
  components: {
  },
  data () {
    return {
      result: JSON.stringify(this.qrData)
    }
  },
  methods: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.error {
  font-weight: bold;
  color: red;
}

.qrcode-drop-zone {
}

.qrcode-file-upload {
  overflow: hidden;
  max-width: 100%;
}

.drop-area {
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: rgba(0,0,0,.5);
}

.dragover {
  background-color: rgba(0,0,0,.8);
}

.drop-error {
  color: red;
  font-weight: bold;
}
</style>
