<template>
  <div class="demo">
    <img alt="Indimedis Logo" src="../assets/logo.png">
    <QRCodeGenerator msg="QR-Code generieren"/>
    <h2><router-link to="/">&lt;&lt; Zur&uuml;ck</router-link></h2>
  </div>
</template>

<script>
// @ is an alias to /src
import QRCodeGenerator from '@/components/QRCodeGenerator/QRCodeGenerator.vue'

export default {
  name: 'Demo',
  components: {
    QRCodeGenerator
  }
}
</script>
