<template>
  <div class="home">
    <img alt="Indimedis Logo" src="../assets/logo.png">
    <Scanner v-if="qrData == null" v-on:qrCodeRead="qrData = $event" msg="QR-Code scannen"/>
    <Report v-else :qrData="qrData" v-on:resetQRCode="qrData = null" msg="View PGx Report"/>
  </div>
</template>

<script>
// @ is an alias to /src
import Scanner from '@/components/Scanner/Scanner.vue'
import Report from '@/components/Report/Report.vue'

export default {
  name: 'Home',
  components: {
    Scanner,
    Report
  },
  data () {
    return {
      qrData: null
    }
  }
}
</script>
