<template>
  <div class="container">
    <h1>{{ msg }}</h1>
    <VueQrcode :value="JSON.stringify(form)" :options="{ width: 200 }"></VueQrcode>
    <div class="d-flex" style="justify-content:center">
    <b-card-group deck>
    <b-card header="SLCO1B1">
      <b-form inline style="text-align: center;">
        <b-form-group class="mr-md-2">
          <label for="SLCO1B1Hap1">Haplotyp 1:</label>
          <b-form-select
            id="SLCO1B1Hap1"
            v-model="form.SLCO1B1.Hap1"
            :options="SLCO1B1Allele"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group class="mr-md-4">
          <label for="SLCO1B1Hap2">Haplotyp 2:</label>
          <b-form-select
            id="SLCO1B1Hap2"
            v-model="form.SLCO1B1.Hap2"
            :options="SLCO1B1Allele"
            required
          ></b-form-select>
        </b-form-group>
      </b-form>
    </b-card>
    <b-card header="CYP2D6">
      <b-form inline>
        <b-form-group class="mr-md-2">
          <label for="CYP2D6Hap1">Haplotyp 1:</label>
          <b-form-select
            id="CYP2D6Hap1"
            v-model="form.CYP2D6.Hap1"
            :options="CYP2D6Allele"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group class="mr-md-2">
          <label for="CYP2D19Hap2">Haplotyp 2:</label>
          <b-form-select
            id="CYP2D19Hap2"
            v-model="form.CYP2D6.Hap2"
            :options="CYP2D6Allele"
            required
          ></b-form-select>
        </b-form-group>
      </b-form>
    </b-card>
    <b-card header="CYP2D19">
      <b-form inline>
        <b-form-group class="mr-md-2">
          <label for="CYP2D19Hap1">Haplotyp 1:</label>
          <b-form-select
            id="CYP2D19Hap1"
            v-model="form.CYP2D19.Hap1"
            :options="CYP2D19Allele"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group class="mr-md-2">
          <label for="CYP2D19Hap2">Haplotyp 2:</label>
          <b-form-select
            id="CYP2D19Hap2"
            v-model="form.CYP2D19.Hap2"
            :options="CYP2D19Allele"
            required
          ></b-form-select>
        </b-form-group>
      </b-form>
    </b-card>
    </b-card-group>
    </div>
  </div>
</template>

<script>
import VueQrcode from '@chenfengyuan/vue-qrcode'

export default {
  name: 'QRCodeGenerator',
  props: {
    msg: String
  },
  components: {
    VueQrcode
  },
  data () {
    return {
      form: {
        SLCO1B1: {
          Hap1: '*1A',
          Hap2: '*1A'
        },
        CYP2D6: {
          Hap1: '*1',
          Hap2: '*1'
        },
        CYP2D19: {
          Hap1: '*1',
          Hap2: '*1'
        }
      },
      SLCO1B1Allele: [
        { text: '*1A', value: '*1A' },
        { text: '*1B', value: '*1B' },
        { text: '*2', value: '*2' },
        { text: '*3', value: '*3' },
        { text: '*4', value: '*4' },
        { text: '*5', value: '*5' },
        { text: '*6', value: '*6' },
        { text: '*7', value: '*7' },
        { text: '*8', value: '*8' },
        { text: '*9', value: '*9' },
        { text: '*10', value: '*10' },
        { text: '*11', value: '*11' },
        { text: '*12', value: '*12' },
        { text: '*13', value: '*13' },
        { text: '*14', value: '*14' },
        { text: '*15', value: '*15' },
        { text: '*16', value: '*16' },
        { text: '*17', value: '*17' },
        { text: '*18', value: '*18' },
        { text: '*19', value: '*19' },
        { text: '*20', value: '*20' },
        { text: '*21', value: '*21' },
        { text: '*22', value: '*22' },
        { text: '*23', value: '*23' },
        { text: '*24', value: '*24' },
        { text: '*25', value: '*25' },
        { text: '*26', value: '*26' },
        { text: '*27', value: '*27' },
        { text: '*28', value: '*28' },
        { text: '*29', value: '*29' },
        { text: '*30', value: '*30' },
        { text: '*31', value: '*31' },
        { text: '*32', value: '*32' },
        { text: '*33', value: '*33' },
        { text: '*34', value: '*34' },
        { text: '*35', value: '*35' },
        { text: '*36', value: '*36' }
      ],
      CYP2D6Allele: [
        { text: '*1', value: '*1' },
        { text: '*1xN', value: '*1xN' },
        { text: '*2', value: '*2' },
        { text: '*2xN', value: '*2xN' },
        { text: '*3', value: '*3' },
        { text: '*3xN', value: '*3xN' },
        { text: '*4', value: '*4' },
        { text: '*4xN', value: '*4xN' },
        { text: '*5', value: '*5' },
        { text: '*6', value: '*6' },
        { text: '*6xN', value: '*6xN' },
        { text: '*7', value: '*7' },
        { text: '*8', value: '*8' },
        { text: '*9', value: '*9' },
        { text: '*9xN', value: '*9xN' },
        { text: '*10', value: '*10' },
        { text: '*10x2', value: '*10x2' },
        { text: '*10xN>2', value: '*10xN>2' },
        { text: '*11', value: '*11' },
        { text: '*12', value: '*12' },
        { text: '*13', value: '*13' },
        { text: '*14', value: '*14' },
        { text: '*15', value: '*15' },
        { text: '*16', value: '*16' },
        { text: '*17', value: '*17' },
        { text: '*17xN', value: '*17xN' },
        { text: '*18', value: '*18' },
        { text: '*19', value: '*19' },
        { text: '*20', value: '*20' },
        { text: '*21', value: '*21' },
        { text: '*22', value: '*22' },
        { text: '*23', value: '*23' },
        { text: '*24', value: '*24' },
        { text: '*25', value: '*25' },
        { text: '*26', value: '*26' },
        { text: '*27', value: '*27' },
        { text: '*28', value: '*28' },
        { text: '*29', value: '*29' },
        { text: '*29xN', value: '*29xN' },
        { text: '*30', value: '*30' },
        { text: '*31', value: '*31' },
        { text: '*32', value: '*32' },
        { text: '*33', value: '*33' },
        { text: '*34', value: '*34' },
        { text: '*35', value: '*35' },
        { text: '*35xN', value: '*35xN' },
        { text: '*36', value: '*36' },
        { text: '*36xN', value: '*36xN' },
        { text: '*37', value: '*37' },
        { text: '*38', value: '*38' },
        { text: '*39', value: '*39' },
        { text: '*40', value: '*40' },
        { text: '*41', value: '*41' },
        { text: '*41xN', value: '*41xN' },
        { text: '*42', value: '*42' },
        { text: '*43', value: '*43' },
        { text: '*43xN', value: '*43xN' },
        { text: '*44', value: '*44' },
        { text: '*45', value: '*45' },
        { text: '*45xN', value: '*45xN' },
        { text: '*46', value: '*46' },
        { text: '*47', value: '*47' },
        { text: '*48', value: '*48' },
        { text: '*49', value: '*49' },
        { text: '*50', value: '*50' },
        { text: '*51', value: '*51' },
        { text: '*52', value: '*52' },
        { text: '*53', value: '*53' },
        { text: '*54', value: '*54' },
        { text: '*55', value: '*55' },
        { text: '*56', value: '*56' },
        { text: '*57', value: '*57' },
        { text: '*58', value: '*58' },
        { text: '*59', value: '*59' },
        { text: '*60', value: '*60' },
        { text: '*61', value: '*61' },
        { text: '*62', value: '*62' },
        { text: '*63', value: '*63' },
        { text: '*64', value: '*64' },
        { text: '*65', value: '*65' },
        { text: '*66', value: '*66' },
        { text: '*67', value: '*67' },
        { text: '*68', value: '*68' },
        { text: '*69', value: '*69' },
        { text: '*70', value: '*70' },
        { text: '*71', value: '*71' },
        { text: '*72', value: '*72' },
        { text: '*73', value: '*73' },
        { text: '*74', value: '*74' },
        { text: '*75', value: '*75' },
        { text: '*76', value: '*76' },
        { text: '*77', value: '*77' },
        { text: '*78', value: '*78' },
        { text: '*79', value: '*79' },
        { text: '*80', value: '*80' },
        { text: '*81', value: '*81' },
        { text: '*82', value: '*82' },
        { text: '*83', value: '*83' },
        { text: '*84', value: '*84' },
        { text: '*85', value: '*85' },
        { text: '*86', value: '*86' },
        { text: '*87', value: '*87' },
        { text: '*88', value: '*88' },
        { text: '*89', value: '*89' },
        { text: '*90', value: '*90' },
        { text: '*91', value: '*91' },
        { text: '*92', value: '*92' },
        { text: '*93', value: '*93' },
        { text: '*94', value: '*94' },
        { text: '*95', value: '*95' },
        { text: '*96', value: '*96' },
        { text: '*97', value: '*97' },
        { text: '*98', value: '*98' },
        { text: '*99', value: '*99' },
        { text: '*100', value: '*100' },
        { text: '*101', value: '*101' },
        { text: '*102', value: '*102' },
        { text: '*103', value: '*103' },
        { text: '*104', value: '*104' },
        { text: '*105', value: '*105' },
        { text: '*106', value: '*106' },
        { text: '*107', value: '*107' },
        { text: '*108', value: '*108' },
        { text: '*109', value: '*109' },
        { text: '*110', value: '*110' },
        { text: '*111', value: '*111' },
        { text: '*112', value: '*112' },
        { text: '*113', value: '*113' },
        { text: '*114', value: '*114' },
        { text: '*115', value: '*115' },
        { text: '*116', value: '*116' },
        { text: '*117', value: '*117' },
        { text: '*118', value: '*118' },
        { text: '*119', value: '*119' },
        { text: '*120', value: '*120' },
        { text: '*121', value: '*121' },
        { text: '*122', value: '*122' },
        { text: '*123', value: '*123' },
        { text: '*124', value: '*124' },
        { text: '*125', value: '*125' },
        { text: '*126', value: '*126' },
        { text: '*127', value: '*127' },
        { text: '*128', value: '*128' },
        { text: '*129', value: '*129' },
        { text: '*130', value: '*130' },
        { text: '*131', value: '*131' },
        { text: '*132', value: '*132' },
        { text: '*133', value: '*133' },
        { text: '*134', value: '*134' },
        { text: '*135', value: '*135' },
        { text: '*136', value: '*136' },
        { text: '*137', value: '*137' },
        { text: '*138', value: '*138' },
        { text: '*139', value: '*139' }
      ],
      CYP2D19Allele: [
        { text: '*1', value: '*1' },
        { text: '*2', value: '*2' },
        { text: '*3', value: '*3' },
        { text: '*4', value: '*4' },
        { text: '*5', value: '*5' },
        { text: '*6', value: '*6' },
        { text: '*7', value: '*7' },
        { text: '*8', value: '*8' },
        { text: '*9', value: '*9' },
        { text: '*10', value: '*10' },
        { text: '*11', value: '*11' },
        { text: '*12', value: '*12' },
        { text: '*13', value: '*13' },
        { text: '*14', value: '*14' },
        { text: '*15', value: '*15' },
        { text: '*16', value: '*16' },
        { text: '*17', value: '*17' },
        { text: '*18', value: '*18' },
        { text: '*19', value: '*19' },
        { text: '*20', value: '*20' },
        { text: '*21', value: '*21' },
        { text: '*22', value: '*22' },
        { text: '*23', value: '*23' },
        { text: '*24', value: '*24' },
        { text: '*25', value: '*25' },
        { text: '*26', value: '*26' },
        { text: '*27', value: '*27' },
        { text: '*28', value: '*28' },
        { text: '*29', value: '*29' },
        { text: '*30', value: '*30' },
        { text: '*31', value: '*31' },
        { text: '*32', value: '*32' },
        { text: '*33', value: '*33' },
        { text: '*34', value: '*34' },
        { text: '*35', value: '*35' },
        { text: '*36', value: '*36' },
        { text: '*37', value: '*37' }
      ]
    }
  },
  methods: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.error {
  font-weight: bold;
  color: red;
}

.qrcode-drop-zone {
}

.qrcode-file-upload {
  overflow: hidden;
  max-width: 100%;
}

.drop-area {
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: rgba(0,0,0,.5);
}

.dragover {
  background-color: rgba(0,0,0,.8);
}

.drop-error {
  color: red;
  font-weight: bold;
}
</style>
