{{ define "order/confirm.html"}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/assets/img/logo.png" alt="indimedis company logo" height="80">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    </nav>
    <hr class="navbar-divider">
    <div class="section">
        <div class="container">
            <div class="panel">
                <p class="panel-heading">
                    Order
                </p>
                <div class="panel-block">
                        <form>
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">From</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <p class="control">
                                                <input class="input is-static" type="email" value="me@example.com" readonly>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                </form>
                </div>
                <div class="panel-block">
                    <button class="button is-danger" text="Cancel">Cancel</button>
                    <button class="button is-info" text="Confirm">Confirm</button>
                </div>

            </div>
         

        </div>
    </div>
</body>


</html>
{{end}}