{{ define "order/new.html"}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/assets/img/logo.png" alt="indimedis company logo" height="80">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    </nav>
    <hr class="navbar-divider">
    <div class="section">
        <div class="container">
            <div class="panel is-info">
                <p class="panel-heading">
                    Order
                </p>
                <div class="panel-block">
                    <div class="container">
                        <form action="/order/confirm" method="post">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Laboratory</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input class="input is-static" type="text" value="{{.Name}}" readonly>
                                            <input name="labID" type="hidden" value="{{.ID}}" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Sample ID</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input name="sampleID" class="input is-danger" type="text"
                                                placeholder="e.g. Partnership opportunity">
                                        </div>
                                        <p class="help is-danger">
                                            This field is required
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-link">Submit</button>
                                </div>
                                <div class="control">
                                    <button class="button is-link is-light">Cancel</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


</html>
{{end}}