<template>
  <div class="container">
    <h1>{{ msg }}</h1>
    <div class="d-flex" style="justify-content:center">
    <b-card-group deck>
    <b-card>
      <h5>per Kamera</h5>
    <!-- icon name: camera-video -->
        <b-button id="startCameraButton" size="lg" @click="startCamera"><b-icon-camera-video />&nbsp;Aktivieren</b-button>
        <qrcode-stream @decode="onDecode" @init="onInit" :camera="camera" />
    </b-card>
    <b-card no-body>
      <b-card-body style="display: flex; align-content: stretch;">
      <div style="width: 100%; overflow: hidden;">
        <div>
          <h5>Bild-Upload</h5>
          <qrcode-capture class="qrcode-file-upload" @decode="onDecode"></qrcode-capture>
        </div>
        <div style="height: 100%;">
          <qrcode-drop-zone class="qrcode-drop-zone" @detect="onDetect" @dragover="onDragOver" @decode="onDecode" @init="logErrors">
            <div class="drop-area" :class="{ 'dragover': dragover }">
              <p class="h1 mb-1"><b-icon icon="box-arrow-in-up-right"></b-icon></p>
              <p class="h5 mb-1">Drag &amp; Drop</p>
            </div>
          </qrcode-drop-zone>
        </div>
      </div>
<!-- icon name: card-image -->
      </b-card-body>
    </b-card>
    </b-card-group>
    </div>
    <br />
    <br />
    <br />
    <br />
    <h2><router-link to="/demo">Demo QR-Code generieren &gt;&gt;</router-link></h2>
  </div>
</template>

<script>
import { QrcodeStream, QrcodeDropZone, QrcodeCapture } from 'vue-qrcode-reader'

export default {
  name: 'Scanner',
  props: {
    msg: String
  },
  components: {
    QrcodeStream,
    QrcodeDropZone,
    QrcodeCapture
  },
  data () {
    return {
      camera: 'off',
      showStartCameraButton: true,
      noStreamApiSupport: false,
      dragover: false
    }
  },
  methods: {
    onDecode (result) {
      this.$emit('qrCodeRead', JSON.parse(result))
    },
    logErrors (promise) {
      promise.catch(console.error)
    },
    startCamera () {
      var elem = document.getElementById('startCameraButton')
      elem.style.display = 'none'
      this.camera = 'auto'
    },
    onDragOver (isDraggingOver) {
      this.dragover = isDraggingOver
    },
    async onInit (promise) {
      try {
        await promise
      } catch (error) {
        if (error.name === 'StreamApiNotSupportedError') {
          this.noStreamApiSupport = true
        }
      }
    },
    async onDetect (promise) {
      try {
        const { content } = await promise
        this.error = null
        this.$emit('qrCodeRead', JSON.parse(content))
      } catch (error) {
        if (error.name === 'DropImageFetchError') {
          this.error = 'Sorry, you can\'t load cross-origin images :/'
        } else if (error.name === 'DropImageDecodeError') {
          this.error = 'Ok, that\'s not an image. That can\'t be decoded.'
        } else {
          this.error = 'Ups, what kind of error is this?! ' + error.message
        }
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.error {
  font-weight: bold;
  color: red;
}

.qrcode-drop-zone {
}

.qrcode-file-upload {
  overflow: hidden;
  max-width: 100%;
}

.drop-area {
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: rgba(0,0,0,.5);
}

.dragover {
  background-color: rgba(0,0,0,.8);
}

.drop-error {
  color: red;
  font-weight: bold;
}
</style>
