<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello Bulma!</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/assets/img/logo.png"
          alt="indimedis company logo" height="80">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  </nav>
  <hr class="navbar-divider">
  <div class="section">
    <div class="container">
      <h1 class="title">PGx analytics ordering</h1>
      <form>
      <table id="example" class="table">
        <thead>
          <tr>
            <th>Labor</th>
            <th>Upcomming analyzes</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{ range $idx, $elem := .}}
          <tr>
              <td>{{$elem.Name}}</td>
              <td>{{$elem.NextAnalyzes}}</td>
              <td>{{$elem.Price}}</td>
              <td><a href="/order/new?lab={{$elem.ID}}" class="button is-info">New Order</button></td>
            </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </div>
</body>


</html>